<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_email">
            <resource>Unirgy_Rma::config</resource>
            <group id="rma" translate="label" sortOrder="20" type="text" showInDefault="1">
                <label>uReturns</label>
                <field id="enabled" translate="label" type="select" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="identity" translate="label" sortOrder="1" type="select" showInDefault="1">
                    <label>Returns Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="template" translate="label" sortOrder="2" type="select" showInDefault="1">
                    <label>Returns Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="copy_to" translate="label comment" sortOrder="4" type="text" showInDefault="1">
                    <label>Send Returns Email Copy To</label>
                    <comment>Comma-separated.</comment>
                </field>
                <field id="copy_method" translate="label" sortOrder="5" type="select" showInDefault="1">
                    <label>Send Returns Email Copy Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Method</source_model>
                </field>
            </group>
            <group id="rma_comment" translate="label" sortOrder="30" type="text" showInDefault="1">
                <label>uReturns Comments</label>
                <field id="enabled" translate="label" type="select" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="identity" translate="label" sortOrder="1" type="select" showInDefault="1">
                    <label>Returns Comment Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="template" translate="label" sortOrder="2" type="select" showInDefault="1">
                    <label>Returns Comment Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="copy_to" translate="label comment" sortOrder="4" type="text" showInDefault="1">
                    <label>Send Returns Comment Email Copy To</label>
                    <comment>Comma-separated.</comment>
                </field>
                <field id="copy_method" translate="label" sortOrder="5" type="select" showInDefault="1">
                    <label>Send Returns Email Copy Method</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Method</source_model>
                </field>
            </group>
        </section>
        <section id="urma" translate="label" sortOrder="340" type="text" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>uReturns</label>
            <tab>sales</tab>
            <resource>Unirgy_Rma::system_config</resource>
            <group id="general" translate="label" sortOrder="5" type="text" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="vendor_comments_receiver" translate="label" sortOrder="10" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Vendor Comments Receiver (store owner)</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="vendor_comments_subject" translate="label" sortOrder="20" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Vendor Comments Email Subject</label>
                </field>
                <field id="vendor_comments_template" translate="label" sortOrder="30" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Vendor Comments Template</label>
                </field>
                <field id="new_rma_vendor_email_template" translate="label" sortOrder="40" type="select"
                       showInDefault="1">
                    <label>New RMA Vendor Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="rma_comment_vendor_email_template" translate="label" sortOrder="50" type="select"
                       showInDefault="1">
                    <label>RMA Comment Vendor Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="customer_hide_order_info" translate="label" sortOrder="100" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Hide order information from customer on existing RMA page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_new_hide_order_info" translate="label" sortOrder="110" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide order information from customer on "Request New RMA" page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="statuses" translate="label" sortOrder="200" type="select" showInDefault="1">
                    <label>Statuses</label>
                    <comment>You can use customer notes column to add per status notes/instructions in notification
                        emails and RMA view in customer area. &lt;br /&gt; Use "Allow resolution notes" to allow/deny
                        ability to add resolution comments/notes. RMA record specific (non-general as customer notes).
                        Will be visible in same areas as customer notes
                    </comment>
                    <frontend_model>Unirgy\Rma\Block\Adminhtml\SystemConfigFormField\OptionsDefinition</frontend_model>
                    <backend_model>Unirgy\Dropship\Model\SystemConfig\Backend\RowsSortable</backend_model>
                </field>
                <field id="reasons" translate="label" sortOrder="210" type="select" showInDefault="1">
                    <label>Reasons to return</label>
                    <frontend_model>Unirgy\Rma\Block\Adminhtml\SystemConfigFormField\OptionsDefinition</frontend_model>
                    <backend_model>Unirgy\Dropship\Model\SystemConfig\Backend\RowsSortable</backend_model>
                </field>
                <field id="item_conditions" translate="label" sortOrder="210" type="select" showInDefault="1">
                    <label>Item Conditions</label>
                    <frontend_model>Unirgy\Rma\Block\Adminhtml\SystemConfigFormField\OptionsDefinition</frontend_model>
                    <backend_model>Unirgy\Dropship\Model\SystemConfig\Backend\RowsSortable</backend_model>
                </field>
            </group>
            <group id="fedex" translate="label" sortOrder="10" type="text" showInDefault="1">
                <label>Fedex Settings</label>
                <field id="fedex_test_mode" translate="label" sortOrder="10" type="select" showInDefault="1">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fedex_user_key" translate="label" sortOrder="20" type="text" showInDefault="1">
                    <label>User Key</label>
                </field>
                <field id="fedex_user_password" translate="label" sortOrder="22" type="password" showInDefault="1">
                    <label>User Password</label>
                </field>
                <field id="fedex_account_number" translate="label" sortOrder="24" type="text" showInDefault="1">
                    <label>Account Number</label>
                </field>
                <field id="fedex_meter_number" translate="label" sortOrder="26" type="text" showInDefault="1">
                    <label>Meter Number</label>
                </field>
                <field id="fedex_dry_ice_weight" translate="label" sortOrder="40" type="text" showInDefault="1">
                    <label>Default Dry Ice Weight (KG)</label>
                </field>
                <field id="fedex_dropoff_type" translate="label" sortOrder="50" type="select" showInDefault="1">
                    <label>Drop Off Type</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="fedex_label_stock_type" translate="label" sortOrder="60" type="select" showInDefault="1">
                    <label>Label Stock Type</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="fedex_pdf_label_width" translate="label" sortOrder="70" type="text" showInDefault="1">
                    <label>PDF Label Width</label>
                </field>
                <field id="fedex_pdf_label_height" translate="label" sortOrder="80" type="text" showInDefault="1">
                    <label>PDF Label Height</label>
                </field>
                <field id="fedex_signature_option" translate="label" sortOrder="100" type="select" showInDefault="1">
                    <label>Signature Option</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="fedex_notify_on" translate="label" sortOrder="110" type="multiselect" showInDefault="1">
                    <label>Shipment notification types</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="fedex_notify_email" translate="label" sortOrder="120" type="text" showInDefault="1">
                    <label>Shipment notification email(s)</label>
                    <comment>Comma separated</comment>
                </field>
                <field id="fedex_itn" translate="label" sortOrder="150" type="text" showInDefault="1">
                    <label>ITN (Internal Transaction Number)</label>
                    <comment>For shipments requiring an EEI/SED, enter the ITN number received from AES when you filed
                        your shipment or the FTR (Foreign Trade Regulations) exemption number.&lt;br/&gt;Proper format:
                        &lt;strong&gt;AES XYYYYMMDDNNNNNN&lt;/strong&gt; where YYYYMMDD is date and NNNNNN are numbers
                        generated by the AES.&lt;br/&gt;Apply at &lt;a href="http://www.aesdirect.gov"&gt;http://www.aesdirect.gov&lt;/a&gt;</comment>
                </field>
            </group>
            <group id="endicia" translate="label" sortOrder="10" type="text" showInDefault="1">
                <label>Endicia Settings</label>
                <field id="endicia_api_url" translate="label" sortOrder="1" type="text" showInDefault="1">
                    <label>Endicia API URL</label>
                </field>
                <field id="endicia_test_mode" translate="label" sortOrder="2" type="select" showInDefault="1">
                    <label>Label Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_requester_id" translate="label" sortOrder="30" type="text" showInDefault="1">
                    <label>Requester ID</label>
                </field>
                <field id="endicia_account_id" translate="label" sortOrder="40" type="text" showInDefault="1">
                    <label>Account ID</label>
                </field>
                <field id="endicia_pass_phrase" translate="label" sortOrder="50" type="text" showInDefault="1">
                    <label>Pass Phrase</label>
                </field>
                <field id="endicia_new_pass_phrase" translate="label" sortOrder="55" type="text" showInDefault="1">
                    <label>New Pass Phrase</label>
                    <comment>Entering new passpharse will issue Endicia ChangePassPhraseXML API call</comment>
                </field>
                <field id="endicia_new_pass_phrase_confirm" translate="label" sortOrder="56" type="text"
                       showInDefault="1">
                    <label>Confirm New Pass Phrase</label>
                </field>
                <field id="endicia_label_type" translate="label" sortOrder="60" type="select" showInDefault="1">
                    <label>Label Type</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="endicia_mail_class" translate="label" sortOrder="90" type="select" showInDefault="1">
                    <label>Default Mail Class</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="endicia_mailpiece_shape" translate="label" sortOrder="100" type="select" showInDefault="1">
                    <label>Default Mail Piece Shape</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="endicia_stealth" translate="label" sortOrder="110" type="select" showInDefault="1">
                    <label>Stealth</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_delivery_confirmation" translate="label" sortOrder="112" type="select"
                       showInDefault="1">
                    <label>Delivery Confirmation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_signature_confirmation" translate="label" sortOrder="113" type="select"
                       showInDefault="1">
                    <label>Signature Confirmation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_return_receipt" translate="label" sortOrder="114" type="select" showInDefault="1">
                    <label>Return Receipt</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_electronic_return_receipt" translate="label" sortOrder="115" type="select"
                       showInDefault="1">
                    <label>Electronic Return Receipt</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_insured_mail" translate="label" sortOrder="116" type="select" showInDefault="1">
                    <label>Insured Mail</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="endicia_restricted_delivery" translate="label" sortOrder="117" type="select"
                       showInDefault="1">
                    <label>Restricted Delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_cod" translate="label" sortOrder="118" type="select" showInDefault="1">
                    <label>COD</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endicia_balance_threshold" translate="label" sortOrder="120" type="text" showInDefault="1">
                    <label>Balance Threshold</label>
                    <comment>Leave empty to disable automatic funding of the account</comment>
                </field>
                <field id="endicia_recredit_amount" translate="label" sortOrder="121" type="text" showInDefault="1">
                    <label>Recredit Amount</label>
                </field>
                <field id="endicia_pdf_label_width" translate="label" sortOrder="150" type="text" showInDefault="1">
                    <label>PDF Label Width</label>
                </field>
                <field id="endicia_pdf_label_height" translate="label" sortOrder="151" type="text" showInDefault="1">
                    <label>PDF Label Height</label>
                </field>
            </group>
            <group id="ups" translate="label" sortOrder="10" type="text" showInDefault="1">
                <label>UPS Settings</label>
                <field id="ups_api_url" translate="label" sortOrder="1" type="text" showInDefault="1">
                    <label>UPS API URL</label>
                </field>
                <field id="ups_shipper_number" translate="label" sortOrder="2" type="text" showInDefault="1">
                    <label>UPS Shipper Number</label>
                </field>
                <field id="ups_thirdparty_account_number" translate="label" sortOrder="4" showInDefault="1">
                    <label>3rd Party Account Number</label>
                </field>
                <field id="ups_thirdparty_country" translate="label" sortOrder="5" type="select" showInDefault="1">
                    <label>3rd Party Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="ups_thirdparty_postcode" translate="label" sortOrder="6" type="text" showInDefault="1">
                    <label>3rd Party Postal Code</label>
                </field>
                <field id="ups_insurance" translate="label" sortOrder="11" type="select" showInDefault="1">
                    <label>Insurance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ups_delivery_confirmation" translate="label" sortOrder="12" type="select" showInDefault="1">
                    <label>Delivery Confirmation</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="ups_verbal_confirmation" translate="label" sortOrder="13" type="select" showInDefault="1">
                    <label>Verbal Confirmation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ups_pickup" translate="label" sortOrder="20" type="select" showInDefault="1">
                    <label>Pickup Type</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="ups_container" translate="label" sortOrder="21" type="select" showInDefault="1">
                    <label>Container Type</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="ups_dest_type" translate="label" sortOrder="22" type="select" showInDefault="1">
                    <label>Destination Type</label>
                    <source_model>Unirgy\Rma\Model\Source</source_model>
                </field>
                <field id="ups_pdf_label_width" translate="label" sortOrder="50" type="text" showInDefault="1">
                    <label>PDF Label Width</label>
                </field>
                <field id="ups_pdf_label_height" translate="label" sortOrder="51" type="text" showInDefault="1">
                    <label>PDF Label Height</label>
                </field>
            </group>
            <group id="message" translate="label" sortOrder="900" type="text" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Messages</label>
                <field id="customer_success" translate="label" sortOrder="10" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer success</label>
                </field>
                <field id="customer_no_items" translate="label" sortOrder="20" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer no items selected</label>
                </field>
                <field id="new_instructions_html" translate="label" sortOrder="30" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer instructions on "Request New RMA" page</label>
                </field>
            </group>
        </section>
    </system>
</config>