<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="udmember" translate="label" sortOrder="334" type="text" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Vendor Membership</label>
            <tab>sales</tab>
            <resource>Unirgy_DropshipVendorMembership::system_config</resource>
            <group id="general" translate="label" sortOrder="100" type="text" showInDefault="1">
                <label>General</label>
                <field id="membership" translate="label" sortOrder="69" type="select" showInDefault="1">
                    <label>Membership Types</label>
                    <frontend_model>Unirgy\DropshipVendorMembership\Block\Adminhtml\SystemConfigField\Membership</frontend_model>
                    <backend_model>Unirgy\DropshipVendorMembership\Model\SystemConfig\Backend\Membership</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>