<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="umicrosite_check_permission">
        <observer name="udsell" instance="Unirgy\DropshipSellYours\Observer\UmicrositeCheckPermission"/>
    </event>
</config>