<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="udropship">
            <group id="customer">
                <field id="vacation_message" translate="label comment" sortOrder="300" type="textarea" showInDefault="1"
                       showInWebsite="1">
                    <label>Vendor Vacation Message</label>
                    <comment>NOTE: Use {{vacation_end}} code for "Vacation Ends At" date</comment>
                </field>
            </group>
        </section>
    </system>
</config>