<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Unirgy_DropshipVendorRatings>
            <usimpleup>
                <remote>http://download.unirgy.com/simple/client_api/version/</remote>
                <changelog>http://unirgy.com/support/portal/announcements</changelog>
            </usimpleup>
        </Unirgy_DropshipVendorRatings>
        <udropship>
            <vendor_rating>
                <ready_status>1,7</ready_status>
                <customer_email_template>udropship_vendor_rating_customer_email_template</customer_email_template>
            </vendor_rating>
        </udropship>
    </default>
</config>