<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="udropship_vendor_save_commit_after">
        <observer name="udvacation" instance="Unirgy\DropshipVacation\Observer\UdropshipVendorSaveCommitAfter"/>
    </event>
</config>