<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Unirgy_DropshipVendorAskQuestion>
            <usimpleup>
                <remote>http://download.unirgy.com/simple/client_api/version/</remote>
                <changelog>http://unirgy.com/support/portal/announcements</changelog>
            </usimpleup>
        </Unirgy_DropshipVendorAskQuestion>
        <udqa>
            <general>
                <product_info_tabbed>0</product_info_tabbed>
                <default_question_status>0</default_question_status>
                <default_answer_status>0</default_answer_status>
                <admin_email_identity>general</admin_email_identity>
                <send_admin_notifications>1</send_admin_notifications>
                <admin_customer_email_template>udqa_general_admin_customer_email_template</admin_customer_email_template>
                <admin_vendor_email_template>udqa_general_admin_vendor_email_template</admin_vendor_email_template>
                <send_admin_notifications_copy>0</send_admin_notifications_copy>
                <send_vendor_notifications>1</send_vendor_notifications>
                <send_customer_notifications>1</send_customer_notifications>
                <customer_email_identity>general</customer_email_identity>
                <customer_email_template>udqa_general_customer_email_template</customer_email_template>
                <vendor_email_identity>general</vendor_email_identity>
                <vendor_email_template>udqa_general_vendor_email_template</vendor_email_template>
            </general>
        </udqa>
        <captcha>
            <frontend>
                <areas>
                    <udqa_question_form>
                        <label>Ask Vendor A Question</label>
                    </udqa_question_form>
                </areas>
            </frontend>
        </captcha>
    </default>
</config>