<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Unirgy\DropshipVendorAskQuestion\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">udqa</argument>
        </arguments>
    </virtualType>
    <type name="Unirgy\DropshipVendorAskQuestion\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Unirgy\DropshipVendorAskQuestion\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="udqa_vendor" xsi:type="string">/udqa/vendor/</item>
                <item name="udqa_customer" xsi:type="string">/udqa/customer/</item>
            </argument>
        </arguments>
    </type>
</config>