<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Unirgy_DropshipPayout::payouts"
             resource="Unirgy_DropshipPayout::payouts"
             module="Unirgy_Dropship"
             parent="Unirgy_Dropship::udropship"
             title="Payouts" sortOrder="100"
             action="udpayout/payout"/>
    </menu>
</config>