<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_init_routers">
        <observer name="umicrosite" instance="Unirgy\DropshipMicrosite\Observer\ControllerFrontInitBefore"/>
    </event>
    <event name="adminhtml_controller_action_predispatch_start">
        <observer name="umicrosite"
                  instance="Unirgy\DropshipMicrosite\Observer\AdminhtmlControllerActionPredispatchStart"/>
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="umicrosite" instance="Unirgy\DropshipMicrosite\Observer\CatalogBlockProductListCollection"/>
    </event>
    <event name="udropship_vendor_save_before">
        <observer name="umicrosite" instance="Unirgy\DropshipMicrosite\Observer\UdropshipVendorSaveBefore"/>
    </event>
    <event name="udropship_vendor_save_after">
        <observer name="umicrosite" instance="Unirgy\DropshipMicrosite\Observer\UdropshipVendorSaveAfter"/>
    </event>
    <event name="udropship_vendor_login">
        <observer name="umicrosite" instance="Unirgy\DropshipMicrosite\Observer\UdropshipVendorLogin"/>
    </event>
    <event name="udropship_vendor_logout">
        <observer name="umicrosite" instance="Unirgy\DropshipMicrosite\Observer\UdropshipVendorLogout"/>
    </event>
</config>