<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Unirgy_DropshipVendorAskQuestion::udqa"
             resource="Unirgy_DropshipVendorAskQuestion::udqa" module="Unirgy_Dropship"
             title="Vendor Questions" sortOrder="12000"
             parent="Unirgy_Dropship::udropship" />
        <add id="Unirgy_DropshipVendorAskQuestion::udqa_pending"
             resource="Unirgy_DropshipVendorAskQuestion::udqa_pending" module="Unirgy_Dropship"
             title="Pending Questions/Answers" sortOrder="10" action="udqa/index/pending"
             parent="Unirgy_DropshipVendorAskQuestion::udqa" />
        <add id="Unirgy_DropshipVendorAskQuestion::udqa_all"
             resource="Unirgy_DropshipVendorAskQuestion::udqa_all" module="Unirgy_Dropship"
             title="All Questions/Answers" sortOrder="20" action="udqa/index/index"
             parent="Unirgy_DropshipVendorAskQuestion::udqa" />
    </menu>
</config>