<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="udqa" translate="label" sortOrder="331" type="text" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Vendor Questions</label>
            <tab>sales</tab>
            <resource>Unirgy_DropshipVendorAskQuestion::system_config</resource>
            <group id="general" translate="label" sortOrder="210" type="text" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <!--field id="product_info_tabbed" translate="label" sortOrder="10" type="select" showInDefault="1">
                    <label>Is product view info use tabbed layout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field-->
                <field id="default_question_status" translate="label" sortOrder="10" type="select" showInDefault="1">
                    <label>Default Question Status</label>
                    <source_model>Unirgy\DropshipVendorAskQuestion\Model\Source</source_model>
                </field>
                <field id="default_answer_status" translate="label" sortOrder="20" type="select" showInDefault="1">
                    <label>Default Answer Status</label>
                    <source_model>Unirgy\DropshipVendorAskQuestion\Model\Source</source_model>
                </field>
                <field id="show_customer_info" translate="label" sortOrder="30" type="select" showInDefault="1"
                       showInWebsite="1">
                    <label>Show customer info to vendor</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_vendor_info" translate="label" sortOrder="40" type="select" showInDefault="1"
                       showInWebsite="1">
                    <label>Show vendor info to customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_email_identity" translate="label" sortOrder="50" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Admin Notification Email Recipient</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="send_admin_notifications" translate="label" sortOrder="60" type="select" showInDefault="1"
                       showInWebsite="1">
                    <label>Send new customer question/vendor answer notifications to admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_vendor_email_template" translate="label" sortOrder="70" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Admin New Question Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="admin_customer_email_template" translate="label" sortOrder="80" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Answer Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="send_admin_notifications_copy" translate="label" sortOrder="110" type="select"
                       showInDefault="1" showInWebsite="1">
                    <label>Send customer/vendor notifications copy to admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_vendor_notifications" translate="label" sortOrder="128" type="select" showInDefault="1"
                       showInWebsite="1">
                    <label>Send vendor notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="vendor_email_identity" translate="label" sortOrder="130" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Vendor Notification Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="vendor_email_template" translate="label" sortOrder="140" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Vendor Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="send_customer_notifications" translate="label" sortOrder="148" type="select"
                       showInDefault="1" showInWebsite="1">
                    <label>Send customer notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_email_identity" translate="label" sortOrder="150" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Notification Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="customer_email_template" translate="label" sortOrder="160" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Notification Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>