<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Unirgy_DropshipMicrosite::registration" resource="Unirgy_DropshipMicrosite::registration" module="Unirgy_DropshipMicrosite" title="Vendor Registrations" sortOrder="40" action="umicrosite/registration"  parent="Unirgy_Dropship::udropship" />
  </menu>
</config>