<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="udprod_product_edit_element_types">
        <observer name="udtiership" instance="Unirgy\DropshipTierShipping\Observer\UdprodProductEditElementTypes"/>
    </event>
</config>