<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unirgy\Dropship\Model\Vendor\Statement"
                type="Unirgy\DropshipTierCommission\Model\VendorStatement"/>
    <preference for="Unirgy\Dropship\Block\Adminhtml\Vendor\Statement\Edit\Tab\Rows"
                type="Unirgy\DropshipTierCommission\Block\Adminhtml\VendorStatementEditTabRows"/>
</config>