<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_update_items_after">
        <observer name="udsplit" instance="Unirgy\DropshipSplit\Observer\CheckoutCartUpdateItemsAfter"/>
    </event>
    <event name="checkout_controller_multishipping_shipping_post">
        <observer name="udsplit" instance="Unirgy\DropshipSplit\Observer\CheckoutControllerMultishippingShippingPost"/>
    </event>
</config>